AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterReturnType: AllDefinitions
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBraces: Linux
BreakBeforeBinaryOperators: false
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ColumnLimit:     80
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
PointerAlignment: Right
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
PointerBindsToType: false
ReflowComments: false
IndentWidth:     4
TabWidth:        4
UseTab:          Never
BreakBeforeBraces: Attach
IndentFunctionDeclarationAfterType: false
SpacesInSquareBrackets: true
SpacesInAngles:  false
SpacesInCStyleCastParentheses: false
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
ContinuationIndentWidth: 8
