*,v
*.la
*.lo
*.o
*~
,*
.cproject
.gdbinit
.libs
.project
.settings/
Makefile
Makefile.bak
VERSION
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
denser/dense
errors
lib*.a
libtool
ltmain.sh
q_runner
simalias
simc
simexpander
simrbl
simreverse
simsendmail
simta
simvacation/simunvacation
simvacation/simvacation
simvacation/simvacreport
sla
stamp-*
tlsconnect
