*,v
*.la
*.lo
*.o
*~
,*
.libs
Makefile
Makefile.bak
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
dense
errors
lib*.a
libtool
ltmain.sh
q_runner
simalias
simexpander
simrbl
simreverse
simsendmail
simta
sla
stamp-*
tlsconnect
.cproject
.gdbinit
.project
.settings/

