*,v
*.la
*.lo
*.o
*.xz
*~
,*
.cproject
.deps
.gdbinit
.libs
.project
.settings/
Makefile
Makefile.bak
Makefile.in
VERSION
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
denser/dense
depcomp
dist
embedded_config.h
embedded_schema.h
errors
genimbed
install-sh
lib*.a
libtool
ltmain.s
missing
packaging/rpm/simta.spec
q_runner
simalias
simc
simck
simconnect
simda
simdmarc
simexpander
simrbl
simreverse
simsendmail
simspf
simsrs
simta
simvacation/simunvacation
simvacation/simvacation
simvacation/simvacreport
sla
stamp-*
