.deps
.libs
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.log
config.status
config.h
depcomp
install-sh
libtool
m4/libtool.m4
m4/lt*.m4
missing
profiled
snet.h
version.c
*.a
*.la
*.lo
*.o
*.slo
